.separator {
  border-top: 16px dotted #01c4b4;
  width: 60px;
  margin: 3rem auto 0;
}

.headerDescription {
  margin: 1.5rem auto 0;
  max-width: 800px;
  text-align: justify;
}

.linkContainer {
  height: 200px;
  min-width: 400px;
  max-width: 800px;
  margin: auto;
  display: flex;
  color: white;
  justify-content: center;
  background-image: linear-gradient(to right, #01c4b4, #2af7e6);
  font-family: "Shanti", sans-serif;
  font-size: 4rem;
  border-radius: 10px;
}

.linkContent {
  align-self: center;
  text-shadow: 2px 2px #636363;
}
