body {
  background-image: url(CalcBG.png);
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans", sans-serif;
}

section {
  padding: 1rem 0;
}

p {
  font-family: "Hind", sans-serif;
  font-size: 16px;
}

.indexContainer {
  padding: 2rem 0;
}

.subContainer {
  max-width: 500px;
}

.btnContainer {
  margin-top: 1rem;
}

.header {
  text-align: center;
}

.display {
  text-align: right;
}

.calcContainer {
  padding: 1rem;
}

.ui.button {
  min-width: 70px;
}

/* 
font-family: 'Noto Sans', sans-serif;
font-family: 'Martel Sans', sans-serif;
font-family: 'Hind', sans-serif;
*/
