body {
  background-image: url(Calc.jpg);
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans", sans-serif;
}

p {
  font-family: "Hind", sans-serif;
  font-size: 16px;
}

.ui.button {
  min-width: 100.01px;
}

.main {
  padding-top: 350px;
}

.mainContainer {
  min-width: 350px !important;
  max-width: 450px !important;
  margin: 0 auto !important;
  padding: 2.5rem 1rem 1rem !important;
}

.displayContainer {
  padding: 0 !important;
}

.history {
  font-family: "Martel Sans", sans-serif;
  min-height: 1.4rem;
  font-size: 0.9rem;
  text-align: right;
  margin-bottom: 4px;
}

.display {
  text-align: right;
  font-size: 2rem;
}

.btnContainer {
  margin: 0 auto !important;
}

.btnE {
  width: 204px !important;
}
