body {
  background-image: url(website-design-background.png);
  color: Black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans", sans-serif;
}

p {
  font-family: "Hind", sans-serif;
}

.ui.segment {
  background-color: transparent;
}

.indexContainer {
  padding: 2rem 0;
}

.header {
  text-align: center;
}

/* 
font-family: 'Noto Sans', sans-serif;
font-family: 'Martel Sans', sans-serif;
font-family: 'Hind', sans-serif;
*/
