/* 
font-family: 'Fira Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
font-family: 'Shanti', sans-serif;
*/

body {
  font-family: "Shanti", sans-serif;
}

h1,
h2,
h3,
li {
  font-family: "Fira Sans", sans-serif;
}

h4,
h5,
h6 {
  font-family: "Work Sans", sans-serif;
}

ul {
  margin: 1rem 0;
  padding: 0;
}

li {
  list-style-type: none;
  display: inline;
  padding: 0 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

nav {
  display: flex;
  justify-content: space-between;
}

footer {
  position: absolute;
  bottom: 0;
  left: 35%;
}

section {
  margin: 1rem 0 0;
}

hr {
  opacity: 0.4;
}

.ui.container {
  padding-top: 2rem;
}

.navLogo {
  align-self: center;
  font-size: 2rem;
  color: #b4b7ba;
}

.navLogoSpan {
  font-weight: bold;
  color: black;
}

.navLinks {
  font-size: 1.3rem;
}
