/* 
font-family: 'Fira Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
font-family: 'Shanti', sans-serif;
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Shanti", sans-serif;
}

header {
  text-align: center;
  opacity: 0.9;
  margin-bottom: 4rem;
}

li {
  font-family: "Fira Sans", sans-serif;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 1.2rem;
}

ul {
  margin: 1rem 0;
  padding: 0;
}

li {
  list-style-type: none;
  display: inline;
  padding: 0 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

nav {
  display: flex;
  justify-content: space-between;
}

section {
  margin: 2rem auto 4rem;
  max-width: 800px;
}

hr {
  opacity: 0.4;
}

.ui.container {
  padding-top: 2rem;
}

.navLinks,
.navItem {
  transition: 0.3s ease-in-out;
}

.navLogo {
  align-self: center;
  font-size: 1.7rem;
  font-family: "Shanti", sans-serif;
  transition: 0.5s ease-in-out;
}

.navLogoSpan {
  font-weight: bold;
  color: #27ddce;
}

.navLinks {
  font-size: 1.3rem;
  display: flex;
}

.navItem {
  margin: 0 1.5rem;
}

.navItem:hover {
  transform: translateY(-3px);
}

.footerContainer {
  text-align: center;
  margin-top: 8rem !important;
  min-height: 100px;
  display: flex;
  background-image: linear-gradient(to right, #16afa0, #09897a) !important;
}

.footerContent {
  align-self: center;
  /* display: flex; */
  /* justify-content: space-between; */
  margin: auto;
  color: white;
  min-width: 300px;
}

.footerContent > h3 {
  text-shadow: 1px 1px #111111;
}

@media screen and (max-width: 600px) {
  .navLogo {
    align-self: center;
    font-size: 1.4rem;
    font-family: "Shanti", sans-serif;
  }

  .navLinks {
    font-size: 1rem;
  }

  .navItem {
    margin: 0 1rem;
  }
}
